<span class="date">
    <input type="text" name="common.startDate" class="date" style="width:100px;" value="${common.startDate}"
           readonly="readonly" title=""/>
    <a class="inputDateButton" href="javascript:">选择</a>
</span>
<span class="noname">至</span>
<span class="date">
    <input type="text" name="common.endDate" class="date" style="width:100px;" value="${common.endDate}"
           readonly="readonly" title=""/>
    <a class="inputDateButton" href="javascript:">选择</a>
</span>
<!--:include("/template/operatorSelect.html"){}-->